.vs/base_coreapi_arch/DesignTimeBuild/.dtbcache.v2
.vs/base_coreapi_arch/v16/.suo

API/bin/
API/obj/

Domain/bin/
Domain/obj/

Shared/bin/
Shared/obj/

Structure/Middleware/bin/
Structure/Middleware/obj/


Structure/Persistence/bin/
Structure/Persistence/obj/


Structure/Workflow/bin/
Structure/Workflow/obj/
