.vs/base_coreapi_arch/DesignTimeBuild/.dtbcache.v2
.vs/base_coreapi_arch/v16/.suo
BusinessLayer/obj/
IBusinessLayer/obj/
IPersistence/obj/
Model/obj/
Persistence/obj/
Service/obj/



Persistence/bin
Service/bin
Model/bin
BusinessLayer/bin
ViewModel/bin
ViewModel/obj
Shared/obj
Shared/obj
Shared/bin
